<html>
  <head>
    <link rel="stylesheet" href="{{ static_url("style.css") }}">
    <title>{% block title %}Default title{% end %}</title>
  </head>
  <body>
<h2>{% block headname %} A template test {% end %}</h2>
Hello,{% module UserName() %} <a href="/">Index</a> | <a href="/blog/read">Read</a> | <a href="/blog/post">Post</a> | {% module LogInOut() %}

    <ul>
        {% block body %}
        {% for student in students %}
          <li>Hi {{ escape(student['name']) }}</li>
        {% end %}
        {% end %}
    </ul>
  </body>
<div id="footer">
	<BR><BR>
<headline> --- </headline>
<!--done-->
<br /><span id="poweredby">
Copyright &copy; 2020 lengsh
</span><BR>
{% set mailLink = '<a href="mailto:lengss@hotmail.com">Contact Me</a>' %}
{% raw mailLink %}<BR> 
{% raw linkify("https://www.lengsh.cn", extra_params='ref=abc.website') %}.
</div><!--end: footer -->

</html>

