{% extends "base.html" %}
{% block body %}
{% if error %}
<div align=center><BR>
<b><span style="color: red">Error: {{ error }}</span><p></b>
</div>
{% end %}

<div  id="main"  align="center">
  <BR><BR>
    <form action="/auth/login?next={{ next }}" method="POST" data-ajax="false">
  <table>
<tr>
  <td width=80> Email: </td><td width=200>  <input name="email" type="text"></td>
</tr><tr>
  <td > Password: </td><td>  <input name="password" type="password"></td>
</tr><tr> <td></td><td>  </td>
</tr><tr>
  {% module xsrf_form_html() %}
  <td></td><td> <input type="submit" value="登录" > </td>
</tr>
</table> 
</form>

</div>

{% end %}
