{% extends "base.html" %}
{% block title %}Mark的自留地{% end %}
{% block headname %}Mark 简单数学速算答题卡{% end %}
{% block body %}

<table align = center><tr> <td>
  

<BR><BR>
  <form action="{{ request.path }}" method="post" class="compose">
          <table align=center  border=1  cellspacing=0 >
        <tr><td width=25> ID </td>  <TD width=80> 题目 </TD> <td> 结果 </td> </tr>
        
        {% if questions %}
        {% for q in questions %} 
        <tr><td> {{ q.id }} </td>   <td align=center style="font-size: large;" > {{ q.topic }} </td> <td> <input name="{{ q.id }}" type="number" >  </td> </tr>
        {% end %}
        {% end %}      </table>
        {% module xsrf_form_html() %}
        <input type="hidden" name="_timestamp" value="{{  timestamp   }}"/>
        <input type="hidden" name="_idlist" value="{{  idlist   }}"/>
        <BR><BR>
        <div align=right>  <input type="submit" value="立刻交卷" class="submit"/> </div>

   </form>

{# 这是一段注释！！ #}
{% end %}
