{% extends "base.html" %}
<div>Haha, </div>
{% block title %} 字词典管理 {% end %}
{% block headname %} 单词/词组 {% end %}

{% block body %}
<BR>

<div id="mcontent">
<h2> 发现的核心业务关键词 </H2>
<table align = center border=1  cellspacing=0><tr align=center > 
		<td width=25>ID</td> <td width=400>word/Phrase</td> <td>次数(词频) </td><td>Description </td>    <td> Operator </td> </tr>

{% if kdicts %}
{% set anchor = 0  %}
        {% for d in kdicts %} 
	<td><a href="#0.{{ int(anchor/2) }}" name="0.{{ int(anchor/2) }}" >{{ d.id }}</a></td> <td>
		<div id="payatention">{{ d.word }}</div> </td><td>{{d.counts}} </td> <td> {{d.descr }} </td> <td> 
		<a href="/dig?cmd=DEL&id={{d.id }}&tp=K&docid={{docid}}#0.{{ int((anchor-1)/2) }}"> DEL </a> 
	</td></tr>
	{%  set anchor = anchor + 1    %}
        {% end %}
{% end %}   
</table>
</div>


<div id="mcontent">
<H2>高频单词</H2>
<table align = center border=1  cellspacing=0><tr align=center > 
		<td width=25>ID</td> <td width=180>Key Words</td> <td>次数(词频) </td> <td> Operator </td> </tr>

{% if wdicts %}
{% set anchor = 0 %}
        {% for d in wdicts %}
	<td><a href="#1.{{ int(anchor/2) }}" name="1.{{ int(anchor/2) }}" >{{ d.id }}</a></td> <td> {{ d.word }}</td><td>{{ d.counts }}</td> <td>
		<div id="minicontent">
		<a href="/dig?cmd=DEL&id={{d.id }}&tp=W&docid={{docid}}#1.{{ int((anchor-1)/2) }}"> DEL </a>  --  | --  
		<a href="/dig?cmd=DAA&kw={{d.word}}&id={{d.id}}&tp=W&docid={{docid}}#1.{{ int((anchor-1)/2) }}"> DEL&加入忽略库</a> -- | --
		<a href="/kwedit?cmd=ADD&kw={{d.word}}"> 加入关键词库</a>
		</div>
	</td></tr>
	{% set anchor = anchor + 1   %}
        {% end %}
{% end %}   

</table>
</div>

<h2> 高频短语 </H2>
<div id="mcontent">
<table align = center border=1  cellspacing=0    ><tr align=center > 
		<td width=25>ID</td> <td>Phrases</td> <td>次数(词频) </td> <td width=160> Operator </td> </tr>

{% if pdicts %}
{% set anchor = 0  %}
        {% for d in pdicts %} 
	<td><a href="#2.{{ int(anchor/2) }}" name="2.{{ int(anchor/2) }}" >{{ d.id }}</a></td> <td> {{ d.phrase }}</td><td>{{d.counts}} </td><td> 
		<div id="minicontent">
			<a href="/dig?cmd=DEL&id={{d.id }}&tp=P&docid={{docid}}#2.{{ int((anchor-1)/2) }}"> DEL </a><BR> ---------> <a href="/dig?cmd=DAA&kw={{d.phrase}}&id={{d.id}}&tp=P&docid={{docid}}#2.{{ int((anchor-1)/2) }}"> DEL&加入忽略库</a><BR>
			<a href="/kwedit?cmd=ADD&kw={{d.phrase}}"> 加入关键词库</a>
		</div>
	</td></tr>
        
	</td></tr>
	{%  set anchor = anchor + 1    %}
        {% end %}
{% end %}   
</table>
</div>


{% end %}

