{% extends "base.html" %}
<div>Haha, </div>

{% block body %}
<BR>

<h2> 操作 </H2>
<div id="mcontent" align=left >
DOC转换为DOCX:<BR>
python3 ~/python/xiaoshu/kwdig/bin/doc2docx.py ./CN/
<BR>
mv docx docx1
<BR>
python3 ~/python/xiaoshu/kwdig/bin/doc2docx.py ./HK/
<BR>
mv docx docx2
<BR>
python3 ~/python/xiaoshu/kwdig/bin/doc2docx.py ./JP/
<BR>
mv docx docx3
<BR>

DOCX文档分析:<BR>
python3 ~/python/xiaoshu/kwdig/dig.py ./docx1 DB
<BR>
python3 ~/python/xiaoshu/kwdig/dig.py ./docx2 DB
<BR>
python3 ~/python/xiaoshu/kwdig/dig.py ./docx3 DB
<BR>

备份：
<BR>
    mysqldump -u <username> -p <dbname> > /path/to/***.sql
    <BR>

恢复操作
<BR>
    mysql -u<username> -p<password> <dbname> < /opt/mytest_bak.sql
<BR>
    mysqldump -uroot -p databasefoo table1 table2 > foo.sql
    <BR>
    mysqldump -ulengsh -p patent keywords phrase_omit word_omit > dict.sql
    <BR>

    
</div>

{% end %}
