{% extends "base.html" %}
<div>Haha, </div>
{% block title %} 字词典管理 {% end %}
{% block headname %} 单词/词组 排除字典： {% end %}

{% block body %}
<BR>
<div align=right> <a href="kwedit?cmd=ADD">手工添加</a></div>
<table align = center border=1  cellspacing=0>
	<tr align=center > <td width=25>ID</td> <td width=360>word/Phrase</td>
		<td width=420> Descr </td><td> Operator </td> </tr>

{% if dicts %}
        {% for d in dicts %} 
	{% set anchor = d.id %}
	</tr><td><a href="#{{ anchor }}" name="{{ anchor }}" >{{ d.id }}</a> </td> <td> {{ d.word }}</td><td> {{ d.descr }} </td> <td>
		<a href="/kwedit?cmd=EDIT&id={{d.id }}#{{ anchor }}"> Edit </a> --- | --- 
		<a href="/kwdict?cmd=DEL&id={{d.id }}#{{ anchor }}"> DEL </a>       
	</td></tr>
        {% end %}
{% end %}   

</table>


{% end %}

